@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Akaya+Telivigala&family=Allura&family=Arimo:ital,wght@0,400..700;1,400..700&family=Asset&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Marck+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Modern+Antiqua&family=Noto+Sans+Georgian:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Georgian:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=UnifrakturCook:wght@700&display=swap');
 body {
  overflow-x: hidden;
 }
.mySwiper {
  width: 100%;
  overflow: hidden; /* Ensure Swiper handles overflow */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* Let Swiper handle slide width */
}

/* Optional: Style navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #333; /* Adjust color to match your theme */
}

/* Optional: Style pagination dots */
.swiper-pagination-bullet {
  background: #333; /* Adjust color to match your theme */
}

 .swiper-button-prev {
    display: none !important;
 }
 .swiper-button-next{
    @apply bg-white p-5 rounded-full z-50 shadow-md;
 }

 .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 16px !important;
 }
 .sub {
   border-radius: 0 6px 6px 0;
 }
 .input {
     border-radius: 6px 0 0  6px ;
 }
